# The URL of the real API server. API requests are routed to this endpoint
# It is used only by the dev server, not in production
PROXY_API_URL=http://localhost:3000

# The base path used for making API requests in the application
VITE_API_URL=/api

# The URL of the OIDC/OAuth2 provider
VITE_OIDC_AUTHORITY=http://localhost:8080/realms/notebook

# Your client application's identifier as registered with the OIDC/OAuth2
VITE_OIDC_CLIENT_ID=notebook-web