# The URL of the real API server. API requests are routed to this endpoint
# It is used only by the dev server, not in production
PROXY_API_URL=http://localhost:3000

# The base path used for making API requests in the application
VITE_API_URL=/api

# URL of the OpenID Connect (OIDC) authority
# For local development with Keycloak: http://localhost:8080/realms/notebook
VITE_OIDC_AUTHORITY=

# Identify the application to the OIDC provider
# For local development with Keycloak: notebook-web
VITE_OIDC_CLIENT_ID=

# Authenticate the application to the OIDC provider
# For local development with Keycloak: notebook-local-secret-dev
VITE_OIDC_CLIENT_SECRET=