# Target API URL to proxy requests to
API_URL=http://localhost:4069

# Port for the API Gateway to listen on
PORT=4068

# The URL of the OIDC/OAuth2 provider
OIDC_AUTHORITY=http://localhost:8080/realms/notebook

# Your client application's identifier as registered with the OIDC/OAuth2
OIDC_CLIENT_ID=notebook-web

# Route that bypasses JWT verification (regex pattern)
PUBLIC_ROUTE=^/docs